@import "variables.scss";

@keyframes navSlideIn {
  0% {
    left: $navHidden;
  }
  100% {
    left: $navVisible;
  }
}

@keyframes navSlideOut {
  0% {
    left: $navVisible;
  }
  100% {
    left: $navHidden;
  }
}

@keyframes navOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
