@import "mixins.scss";
@import "variables.scss";

.fade-in-text {
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.bg-fade-from {
	animation-duration: 6s;
	animation-fill-mode: forwards;
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	background-color: black;
}

.container-section {
	width: 100%;
	position: relative;
}

#section-main {
	padding-bottom: 2em;
}

.container-section-content {
	left: 50%;
	transform: translateX(-50%);
	width: $articleWidthMobile;
}

#div-content-hero {
	font-family: $altFontStack;
	position: absolute;
	z-index: 100;
	bottom: 0;
	/*h1 {
		font-size: 1.25rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	h3, p {
		font-size: 1rem;
	}
	.meta-category {
		padding: 0.5em;
		display: inline-block;
		border: 1px solid $color_text;
	}
	time {
		font-size: 1.75rem;
	}*/
}

#div-content-main {
	position: relative;
	padding: 1em 0;
	h1, h2, h3, h4, h5, h6 {
		padding-bottom: .6em;
	}
	h1, p.pullquote {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.75rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	h5 {
		font-size: 1.1rem;
	}
	h6 {
		font-size: 1rem;
	}
}

.img-content {
    width: $articleWidthMobile;
	img {
		height: auto;
	}
	.img-content-small {
		width: 33%;
	}
	.img-content-medium {
		width: 50%;
	}
	.img-content-large {
		width: 100%;
	}
}

.img-align-center {
    text-align: center;
}

.img-align-left {
    text-align: left;
}

.img-align-right {
    text-align: right;
}

.img-content-cover {
	width: 100%;
    transform: translateX(-50%);
    left: 50%;
    position: inherit;
	img {
		height: auto;
		width: 100%;
	}
}


blockquote {
    margin: 0 0 1em;
    padding: 0 0 0 1em;
    border-left: 1px dashed $color_text;
    font-size: 0.9rem;
}

p.pullquote {
    font-family: $altFontStack;
    position: relative;
    padding: 7rem 0;
    &:before {
    	@include pullquoteQuotes();
    	content: '“';
	    top: -0.1em;
    }
    &:after {
    	@include pullquoteQuotes();
	    content: '”';
	    bottom: -0.45em;
	    right: 0;
    }
}

code {
	color: $color_text;
	font-family: $monoFontStack;
	font-weight: 700;
	display: block;
	margin-bottom: 1em;
    line-height: 1.5;
    padding: 1em;
    background-color: $color_bg_nav;
}


/*START Micro Mobile */
@media (max-width: 320px), (max-height: 320px){
	#div-logo {
		font-size: 1.5rem;
	}

	/*#div-content-hero {
		h1 {
			font-size: 1.25rem;
		}
		time, h2 {
			font-size: 1rem;
		}
		h3, p {
			font-size: .8rem;
		}
	}*/

	.list-categories li {
		font-size: .8rem;
	}


	#div-content-main {
		h1, p.pullquote {
			font-size: 1.75rem;
		}
		h2 {
			font-size: 1.5rem;
		}
		h3 {
			font-size: 1.25rem;
		}
		h4 {
			font-size: 1.1rem;
		}
		h5 {
			font-size: 1rem;
		}
		h6, p {
			font-size: .9rem;
		}
	}

}
/* END Micro Mobile */


/*START Tablet */
@media (min-width: 768px) and (min-height: 421px){
	.container-section-content, .img-content {
		width: $articleWidthTablet;
	}

	/*#div-content-hero {
		width: 50vw;
		h1 {
			font-size: 1.25rem;
		}
		h2, time {
			font-size: 1.1rem;
		}
		h3, p {
			font-size: 1rem;
		}
	}*/
	.article-top {
		.section-intro {
			.pos-top-left {
				bottom: initial;
				top: 16%;
				text-align: left;
				left: (100% - $articleWidthTablet) / 2;
				transform: none;
			}
			.pos-top-center {
				bottom: initial;
				top: 16%;
				text-align: center;
			}
			.pos-top-right {
				bottom: initial;
			    top: 16%;
			    text-align: right;
			    left: (100% + $articleWidthTablet) / 2;
			    transform: translateX(-100%);
			}
			.pos-middle-left {
				bottom: initial;
				top: 50%;
				text-align: left;
				left: (100% - $articleWidthTablet) / 2;
				transform: translateY(-50%);
			}
			.pos-middle-center {
				bottom: initial;
				top: 50%;
				text-align: center;
				left: 50vw;
				transform: translate(-50%, -50%);
			}
			.pos-middle-right {
				bottom: initial;
				top: 50%;
				text-align: right;
				left: (100% + $articleWidthTablet) / 2;
				transform: translate(-100%, -50%);
			}
			.pos-bottom-left {
				text-align: left;
				left: (100% - $articleWidthTablet) / 2;
				transform: none;

			}
			.pos-bottom-center {
				text-align: center;
			}
			.pos-bottom-right {
				text-align: right;
				left: (100% + $articleWidthTablet) / 2;
				transform: translateX(-100%);
			}
		}
	}

	#div-content-main {
		h1, p.pullquote {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.75rem;
		}
		h3 {
			font-size: 1.5rem;
		}
		h4 {
			font-size: 1.25rem;
		}
		h5 {
			font-size: 1rem;
		}
		h6, p, code, li {
			font-size: 1.1rem;
		}
	}

	blockquote {
		font-size: 1rem;
	}
}
/* END Tablet */


/*START Laptop */
@media (min-width: 1000px) and (min-height: 421px){
	.article-top {
		.section-intro {
			min-height: 650px;
			.pos-top-left {
				left: (100% - $articleWidthLaptop) / 2;
			}
			.pos-top-right {
				left: (100% + $articleWidthLaptop) / 2;
			}
			.pos-middle-left {
				left: (100% - $articleWidthLaptop) / 2;
			}
			.pos-middle-right {
				left: (100% + $articleWidthLaptop) / 2;
			}
			.pos-bottom-left {
				left: (100% - $articleWidthLaptop) / 2;
			}
			.pos-bottom-right {
				left: (100% + $articleWidthLaptop) / 2;
			}
		}
	}

	.container-section-content, .img-content {
		width: $articleWidthLaptop;
	}

	/*#div-content-hero {
		width: 40vw;
		h1 {
			font-size: 1.5rem;
		}
		h2, time {
			font-size: 1.25rem;
		}
		h3, p {
			font-size: 1.1rem;
		}
	}*/

	#div-content-main {
		h1, p.pullquote {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.75rem;
		}
		h3 {
			font-size: 1.5rem;
		}
		h4 {
			font-size: 1.25rem;
		}
		h5 {
			font-size: 1.1rem;
		}
		h6, p, code, li {
			font-size: 1rem;
		}
	}

	blockquote {
		font-size: .9rem;
	}

}
/* END Desktop */

/*START Desktop */
@media (min-width: 1200px) and (min-height: 421px){
	.article-top {
		.section-intro {
			min-height: 800px;
			.pos-top-left, .pos-top-center, .pos-top-right {
				top: 20%;
			}
		}
	}

	/*#div-content-hero {
		width: 30vw;
		h1 {
			font-size: 1.75rem;
		}
		h2, time {
			font-size: 1.5rem;
		}
		h3, p {
			font-size: 1.25rem;
		}
	}*/

	#div-content-main {
		h1, p.pullquote {
			font-size: 2.25rem;
		}
		h2 {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.75rem;
		}
		h4 {
			font-size: 1.5rem;
		}
		h5 {
			font-size: 1.25rem;
		}
		h6, p, code, li {
			font-size: 1.1rem;
		}
	}

	blockquote {
		font-size: 1rem;
	}
}
/* END Desktop */
