@import "mixins.scss";
@import "variables.scss";

#nav-top {
	position: fixed;
	width: 100vw;
	z-index: 201;
	top: 0;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	height: 3em;
	ul li {
		@include altFontStack();
	}
}

#div-logo {
    @include logoFontStack();
    font-weight: 400;
    font-size: 1.75rem;
    color: $color_text;
    text-align: center;
    padding: 0.25em;
    display: inline-block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#container-div-nav-side {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: -100vw;
	top: 0;
	z-index: 200;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

#div-nav-side {
	width: 80vw;
	height: 100vh;
	background-color: $color_bg_nav;
	z-index: 202;
	position: absolute;
}

#div-nav-inactive {
	width: 100vw;
	height: 100vh;
	z-index: 201;
	position: absolute;
	top: 0;
	left: 0;
}

#div-btn-nav {
    line-height: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    z-index: 300;
    img {
    	width: auto;
    	height: 1em;
    }
}

.list-categories {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    li {
	    font-size: 1rem;
	    color: $color_text;
	    width: 50%;
	    text-align: center;
	    padding: 2em 0;
    }
}