@import "variables.scss";
@import "mixins.scss";

#nav-top {
	position: fixed;
	width: 100%;
	z-index: 201;
	top: 0;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	height: 3em;
	ul li {
		font-family: $altFontStack;
	}
}

#div-logo {
    font-family: $logoFontStack;
    font-weight: 700;
    font-size: 1.25rem;
    color: $color_text_deep;
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: .25em;
    padding: .25em .25em .25em .5em;
}

#container-div-nav-side {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: -100%;
	top: 0;
	z-index: 200;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

#div-nav-side {
	width: 80vw;
	height: 100vh;
	background-color: $color_bg_nav;
	z-index: 202;
	position: absolute;
}

#div-nav-inactive {
	width: 100%;
	height: 100vh;
	z-index: 201;
	position: absolute;
	top: 0;
	left: 0;
}

#div-btn-nav {
    line-height: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    z-index: 300;
    img {
    	width: auto;
    	height: 1em;
    }
}

.list-categories {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    li {
	    font-size: 1.25rem;
	    color: $color_text;
	    width: 50%;
	    text-align: center;
	    padding: 2em 0;
    }
}

#nav-bottom {
	@include sectionBottomDefault();
	#container-div-nav-bottom {
		#div-nav-bottom {
			padding-bottom: 1em;
			.list-categories {
				width: initial;
				li {
					font-size: $sectionBottomMobile;
				}
			}
		}
	}
}


/*START Micro Mobile */
@media (max-width: 320px){
	header {
		#nav-top {
			#container-div-nav-side {
				#div-nav-side {
					.list-categories {
						li {
							font-size: 1rem;
						}
					}
				}
			}
		}
	}

	#nav-bottom {
		#container-div-nav-bottom {
			#div-nav-bottom {
				.list-categories {
					li {
						font-size: $sectionBottomMicro;
					}
				}
			}
		}
	}
}
/* END Micro Mobile */


/*START Tablet */
@media (min-width: 768px) and (min-height: 421px){
	header {
		#div-btn-nav, #div-nav-inactive {
			display: none;
		}
		#nav-top {
			height: fit-content;
			padding: 0 0 .5em 0;
			#div-logo {
				font-size: 2rem;
			}
			#div-logo, #container-div-nav-side {
				padding: 0.25em 0;
			}
			#div-logo, #div-nav-side {
				left: (100% - $articleWidthTablet) / 2;
				transform: none;
				position: relative;
			}
			#container-div-nav-side {
				left: 0;
				animation-name: none !important;
				width: 100%;
				height: initial;
				position: relative;
				#div-nav-side {
				    width: $articleWidthTablet;
				    height: initial;
				    background-color: transparent;
				    position: relative;
					.list-categories {
						li {
						    font-size: 1.5rem;
						}
					}
				}
			}
		}
	}

	#nav-bottom {
		width: $articleWidthTablet;
		#container-div-nav-bottom {
			#div-nav-bottom {
				.list-categories {
					li {
						font-size: $sectionBottomTablet;
					}
				}
			}
		}
	}

	.list-categories li {
		@include listCategoriesTablet();
	}

}
/* END Tablet */


/*START Laptop */
@media (min-width: 1000px) and (min-height: 421px){
	header {
		#nav-top {
			#div-logo {
				font-size: 2.25rem;
			}
			#container-div-nav-side {
				#div-nav-side {
					width: $articleWidthLaptop;
				}
			}
			#div-logo, #div-nav-side {
				left: (100% - $articleWidthLaptop) / 2;
			}
		}
	}

	#nav-bottom {
		width: $articleWidthLaptop;
		#container-div-nav-bottom {
			#div-nav-bottom {
				.list-categories {
					li {
						font-size: $sectionBottomLaptop;
					}
				}
			}
		}

	}
}
/* END Laptop */


/*START Desktop */
@media (min-width: 1200px) and (min-height: 421px){
	#div-logo {
		font-size: 2.25rem;
	}

	.list-categories li {
	    font-size: 1.25rem;
	}

	#nav-bottom {
		#container-div-nav-bottom {
			#div-nav-bottom {
				.list-categories {
					li {
						font-size: $sectionBottomDesktop;
					}
				}
			}
		}
	}
}
/* END Desktop */