@use "sass:map";

/* START Templates */


/* START Campfire */
$campfire: ("color_bg_main": #073569,"color_bg_nav": #0B4376,"color_misc": #4C7A9E,"color_text": #F49F8B);
/* END Campfire */

/* START Snow */
$snow: ("color_bg_main": #8EB2EE,"color_bg_nav": #BC9FBB,"color_misc": #ED739A,"color_text": #EBE5F1);
/* END Snow */

/* START Aqua */
$aqua: ("color_bg_main": #2D2942,"color_bg_nav": #0C7C92,"color_misc": #60C3E0,"color_text": #AFD6DD);
/* END Aqua */

/* START Aqua 2 */
$aqua2: ("color_bg_main": #39A3CA,"color_bg_nav": #379AB7,"color_misc": #60C3E0,"color_text": #D6EBF0);
/* END Aqua 2 */

/* START Sylvain */
$sylvain: ("color_bg_main": #259599,"color_bg_nav": #09A598,"color_misc": #5FD37E,"color_text": #7DE6D7);
/* END Sylvain */

/* START Aesthetic */
$aesthetic: ("color_bg_main": #49619f,"color_bg_nav": #836aa4,"color_misc": #f597af,"color_text": #f8e6d8);
/* END Aesthetic */

$activeTemplate: $campfire;
$color_bg_main: map.get($activeTemplate, "color_bg_main");
$color_bg_nav: map.get($activeTemplate, "color_bg_nav");
$color_misc: map.get($activeTemplate, "color_misc");
$color_text: map.get($activeTemplate, "color_text");


/* END Templates */

/* START Nav Animations */
$topNavOn: rgba($color_bg_nav,1);
$topNavOff: rgba($color_bg_nav,0);
$sideNavOn: 0vw;
$sideNavOff: -100vw;
/* END Nav Animations */

/* START Font Stacks */
$mainFontStack: neue-haas-unica, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$altFontStack: urbane-rounded, circe-rounded, Futura, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$logoFontStack: din-2014, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monoFontStack: monotalic, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
/* END Font STacks */


/* START Miscellaneous */
$articleWidthMobile: 90vw;
$articleWidthTablet: 80vw;
$articleWidthLaptop: 70vw;
$articleWidthDesktop: 50vw;
/* END Miscellaneous */