@import "variables-old.scss";
@import "mixins-old.scss";

#div-content-footer {
	width: 100%;
	color: $color_text;
	font-family: $altFontStack;
}

#div-copyright {
	@include sectionBottomDefault();
	font-size: $sectionBottomMobile;
}

/*START Micro Mobile */
@media (max-width: 320px){
	#div-copyright {
		font-size: $sectionBottomMicro;
	}
}
/*START Micro Mobile */

/*START Tablet */
@media (min-width: 768px) and (min-height: 421px){
	#div-copyright {
		width: $articleWidthTablet;
		font-size: $sectionBottomTablet;
	}
	footer {
	    padding: 2em 0 3em 0;
	}
}
/* END Tablet */

/* START Laptop */
@media (min-width: 1000px) and (min-height: 421px){
	#div-copyright {
		width: $articleWidthLaptop;
		font-size: $sectionBottomLaptop;
	}
}
/* END Laptop */

/* START Desktop */
@media (min-width: 1200px) and (min-height: 421px){
	#div-copyright {
		font-size: $sectionBottomDesktop;
	}
}
/* END Desktop */
